#Copyright (c) 2011-2012 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.IdeaTabA2109A_board.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
    mkdir /storage 0550 system sdcard_r

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    # Enable secondary storage
    export SECONDARY_STORAGE /storage/sdcard1

    # create directory for mounting usb drives
    mkdir /storage/sdcard1 0000 system system
    mkdir /storage/sdcard2 0000 system system
    mkdir /storage/usbdisk0 0000 system system
    mkdir /storage/usbdisk1 0000 system system

	
  ## {CL2N} +
    symlink /storage/sdcard1 /mnt/sdcard2
    symlink /storage/sdcard1 /sdcard2

    # create directory for mounting usb drives
    symlink /storage/usbdrive /mnt/usbdrive
    symlink /storage/usbdrive /usbdrive

    mkdir /.preload 0000 system system
## {CL2N} -

on fs
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    # PLEASE DO NOT REMOVE NVSI SYMLINK! IF CHANGES ARE NEEDED PLEASE ENSURE THAT NVSI SYMLINK IS ALWAYS CREATED.
    # Mount system to allow NVSI symlink
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/APP /system rw
    # Create NVSI filter symlink
    symlink /data/data/com.nvidia.NvCPLSvc/files/com.nvidia.nvsiutilv1.xml /system/etc/permissions/com.nvidia.nvsiutilv1.xml
    mount_all /fstab.kai

on post-fs-data
#if 0 //KAI
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
#else //CL2N for BT mac address generation
    mkdir /data/misc/wifi 0775 wifi wifi
    mkdir /data/misc/wifi/sockets 0775 wifi wifi
#endif 
    mkdir /data/misc/dhcp 0770 dhcp dhcp
# &*&*&*cj1_mod: for CL2-N
#    mkdir /data/nvcam 0700 media camera
    mkdir /data/nvcam 0660 system system
# &*&*&*cj2_mod: for CL2-N
    chown dhcp dhcp /data/misc/dhcp
    chown wifi wifi /data/misc/wifi
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi/hostapd.conf

    mkdir /data/misc/wminput 0776 system system

    # we will remap this as /storage/sdcard0 with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on boot

# bluetooth
    # UART device
    chmod 0660 /dev/ttyHS2
    chown bluetooth net_bt_stack /dev/ttyHS2

    # power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

    # bluetooth MAC address programming
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown bluetooth net_bt_stack /system/etc/bluetooth
    chown bluetooth net_bt_stack /data/misc/bluetooth
    setprop ro.bt.bdaddr_path "/data/misc/bluetooth/bdaddr"

    # bluetooth LPM
    chmod 0220 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite

## {CL2N} +
#    setprop ro.bt.bdaddr_path "/system/etc/bluetooth/bdaddr"
#    mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
#    mkdir /data/misc/bluetooth 0770 system system
## {CL2N} -

# NFC
    setprop ro.nfc.port "I2C"

# backlight
    chown system system /sys/class/backlight/pwm-backlight/brightness

# didim
    chown system system /sys/class/graphics/fb0/device/smartdimmer/enable
    chown system system /sys/class/graphics/fb0/device/smartdimmer/aggressiveness

# power
    chown system system /sys/kernel/tegra_cap/core_cap_level
    chown system system /sys/kernel/tegra_cap/core_cap_state
    chown system system /sys/module/cpu_tegra/parameters/cpu_user_cap

# Sensor
    insmod /system/lib/modules/mpu6050b1.ko
    insmod /system/lib/modules/inv_mpu_ak89xx.ko

# Power management settings
    write /sys/module/cpu_tegra3/parameters/no_lp 0
    #write /sys/module/tegra3_emc/parameters/emc_enable 0
    #write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1000000

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor conservative

    write /sys/devices/system/cpu/cpufreq/conservative/up_threshold 95
    write /sys/devices/system/cpu/cpufreq/conservative/down_threshold 75
    write /sys/devices/system/cpu/cpufreq/conservative/freq_step 3

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/interactive/boost_factor 2
    write /sys/devices/system/cpu/cpufreq/interactive/sustain_load 80
    write /sys/module/cpu_tegra3/parameters/auto_hotplug 1
    #write /sys/module/cpuidle_t3/parameters/lp2_0_in_idle 0
    write /sys/module/cpuidle/parameters/lp2_in_idle 1
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_maxspeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/max_boost

# Default Read Ahead value for sdcards
#{CL2N} +
#    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
#    write /sys/block/mmcblk1/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/read_ahead_kb 8192
    write /sys/block/mmcblk1/queue/read_ahead_kb 4096
#{CL2N} -

# Wiimote connect status
    write /data/misc/wminput/connected 0
    chmod 0666 /data/misc/wminput/connected

# GPS init
    write /sys/class/gpio/export 162
    write /sys/class/gpio/gpio162/value 0
    write /sys/class/gpio/gpio162/direction out
    chown root system /sys/class/gpio/gpio162/value
    chmod 0664 /sys/class/gpio/gpio162/value
    write /sys/class/gpio/export 163
    write /sys/class/gpio/gpio163/direction out
    write /sys/class/gpio/gpio163/value 1
    chown root system /sys/class/gpio/gpio163/value
    chmod 0664 /sys/class/gpio/gpio163/value

#if 0 //KAI
## Load wifi drivers (all except wl12xx_sdio)
#    insmod /system/lib/modules/compat/compat.ko
#    insmod /system/lib/modules/compat/cfg80211.ko
#    insmod /system/lib/modules/compat/mac80211.ko
#    insmod /system/lib/modules/compat/wl12xx.ko debug_level=0x63c00
#else //CL2N
# Load WiFi driver
    insmod /system/lib/modules/cfg80211.ko
    insmod /system/lib/modules/bcmdhd.ko
    setprop wifi.supplicant wpa_suppl_nl
#endif

# BB mapping symbolic name to the logging ttyACM port
    symlink /dev/ttyACM2 /dev/log_modem

on property:ro.debuggable=1
    # Touchscreen config interface
    chmod 666 /sys/devices/sensor00/bsr
    chmod 666 /sys/devices/sensor00/enabled
    chmod 666 /sys/devices/sensor00/fn01/chargerinput
    chmod 666 /sys/devices/sensor00/fn01/nosleep
    chmod 666 /sys/devices/sensor00/fn01/reportrate
    chmod 666 /sys/devices/sensor00/fn01/reset
    chmod 666 /sys/devices/sensor00/fn01/sleepmode
    chmod 666 /sys/devices/sensor00/fn11/clip
    chmod 666 /sys/devices/sensor00/fn11/flip
    chmod 666 /sys/devices/sensor00/fn11/offset
    chmod 666 /sys/devices/sensor00/fn11/relreport
    chmod 666 /sys/devices/sensor00/fn11/rezero
    chmod 666 /sys/devices/sensor00/fn11/swap
    chmod 666 /sys/devices/sensor00/fn34/blocknum
    chmod 666 /sys/devices/sensor00/fn34/bootloaderid
    chmod 666 /sys/devices/sensor00/fn34/cmd
    chmod 666 /sys/devices/sensor00/fn34/data
    chmod 666 /sys/devices/sensor00/fn34/rescanPDT
    chmod 666 /sys/devices/sensor00/fn54/get_report
    chmod 666 /sys/devices/sensor00/fn54/fifoindex
    chmod 666 /sys/devices/sensor00/fn54/force_cal
    chmod 666 /sys/devices/sensor00/fn54/no_auto_cal
    chmod 666 /sys/devices/sensor00/fn54/report_type
    # EMC debug interface
    chmod 666 /sys/kernel/debug/tegra_emc/eack_state


#if 0 //KAI
#service wpa_supplicant /system/bin/wpa_supplicant \
#    -Dnl80211 -iwlan0 -c /data/misc/wifi/wpa_supplicant.conf
##   we will start as root and wpa_supplicant will switch to user wifi
##   after setting up the capabilities required for WEXT
##   user wifi
##   group wifi inet keystore
#    class main
#    socket wpa_wlan0 dgram 660 wifi wifi
#    disabled
#    oneshot

#service p2p_supplicant /system/bin/wpa_supplicant \
#    -Dnl80211 -iwlan0 -c /data/misc/wifi/wpa_supplicant.conf
##   we will start as root and wpa_supplicant will switch to user wifi
##   after setting up the capabilities required for WEXT
##   user wifi
##   group wifi inet keystore
#    class main
#    socket wpa_wlan0 dgram 660 wifi wifi
#    disabled
#    oneshot

##TI-ST
#service uim /system/bin/uim-sysfs
#    class core
#    user root
#    group root
#    oneshot
#endif

service dhcpcd_wlan0 /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL -f/system/etc/dhcpcd/dhcpcd.conf
     class main
     disabled
     oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

#if 0 //KAI
#service hostapd_bin  /system/bin/hostapd -dd /data/misc/wifi/hostapd.conf
#    socket wpa_wlan0 dgram 660 wifi wifi
#    disabled
#    oneshot

#on property:wlan.driver.status=ok
#    chown wifi wifi /sys/devices/platform/wl1271/bt_coex_state
#endif 

# create virtual SD card at /storage/sdcard0, based on the /data/media directory
# deamon will drop to user/group system/media_rw after initializing
# underlying files in /data/media wil be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start

# bugreport is triggered by the VOLUME-DOWN and VOLUME-UP keys
service bugreport /system/bin/dumpstate -d -v -o /data/storage/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 115 114

## {from cardhu for BCM4330} +
## btmacwriter - to create unique BD address
#service btmacwriter /system/bin/btmacwriter
#    class main
#    user bluetooth
#    group bluetooth net_bt_admin
#    oneshot

#BCM hciattach - bt firmware loader
service hciattach /system/bin/bcm4330_bt_fw_loader.sh
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
## {from cardhu for BCM4330} -

## {from cardhu for BCM47511} +
# Start GPS daemon
  on boot
  #service gps-daemon /system/bin/glgps_nvidiaTegra2android -c /system/etc/gps/gpsconfig.xml
  service gps-daemon /system/bin/glgps -c /system/etc/gps/gpsconfig.xml
  user gps
  socket gps seqpacket 0660 gps system
  group system inet sdcard_rw sdcard_r
  class late_start
## {from cardhu for BCM47511} -

# Mount usb drives as /usbdrive. Generally usb drives are formatted with FAT
# filesystem, so we support FAT as of now.
on device-added-/sys/block/sda
  mount vfat /dev/block/sda /mnt/usbdrive

on device-removed-/sys/block/sda
  umount /mnt/usbdrive

# Prepare TF service
import init.tf.rc

## {CL2N: no modem}+
# test mode for RIL: Should probably be removed from production tablets
##service ril-daemon-test /system/bin/rild
##    socket rild-testmode stream 666 root radio
##    socket rild-debug stream 660 radio system
##    user root
##    group radio cache inet misc audio sdcard_rw
##    disabled
## {CL2N: no modem}-

# Enable NvCpuD, and set it to never poll config again
on boot
    setprop nvcpud.enabled true
    setprop nvcpud.config_refresh_ms -1

service nvcpud /system/bin/nvcpud
    class main
    user root
    group root

#Raydium touch setting
service rm_ts_service    /system/bin/rm_ts_server
    class main

#Synaptics touch, allow low power mode
on boot
    write /sys/devices/sensor00/fn01/nosleep 0

# create filesystems if necessary
service setup_fs /system/bin/setup_fs \
        /dev/block/platform/sdhci-tegra.3/by-name/UDA \
        /dev/block/platform/sdhci-tegra.3/by-name/CAC
    class core
    user root
    group root
    oneshot
    
## {CL2N: no modem}+
##on property:ril.testmode=1
##    stop ril-daemon
##    start ril-daemon-test

##on property:ril.testmode=0
##    stop ril-daemon-test
##    start ril-daemon
## {CL2N: no modem}-

#if 0 //KAI
#service wifi_set_mac /system/bin/calibrator set nvs_mac /data/misc/wifi/wl1271-nvs.bin
#    disabled
#    class main
#    user root
#    group root
#    oneshot
#else //CL2N


service p2p_supplicant /system/bin/wpa_supplicant \
    -Dnl80211 -iwlan0 -puse_p2p_group_interface=1 -e/data/misc/wifi/entropy.bin -c/data/misc/wifi/wpa_supplicant.conf \
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_suppl_nl /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -N \
    -ip2p0 -Dnl80211 -c /data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -puse_p2p_group_interface=1
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot
#endif

#if 0 //KAI
#service wifi_calibrate /system/bin/calibrator plt autocalibrate2 wlan0 \
#        /etc/firmware/ti-connectivity/TQS_S_2.6.ini /data/misc/wifi/wl1271-nvs.bin
#    disabled
#    class main
#    user root
#    group root
#    oneshot

## Second boot and onwards
#on property:persist.wlan.ti.calibrated=1
#    insmod /system/lib/modules/compat/wl12xx_sdio.ko

## Very first boot. This case should be below the above case in init.rc so that
## the above case, does not get executed on first boot. Very first boot is setting
## persist.wlan.ti.calibrated=1 which triggers the above case.
#on property:persist.wlan.ti.calibrated=0
#    copy /etc/firmware/ti-connectivity/wl1271-nvs_default.bin /data/misc/wifi/wl1271-nvs.bin
#    start wifi_set_mac
#    insmod /system/lib/modules/compat/wl12xx_sdio.ko
#    start wifi_calibrate
#    setprop persist.wlan.ti.calibrated 1
#endif

#gps
service navl_server /system/bin/navd --android_log NAVD  -p3 -nav\"-c/system/etc/gps/config/pathconfigfile.txt\"
    disabled
    class main
    user root
    oneshot

## {CL2} +
service gpsID /system/bin/gps_util
    class late_start
    user root
    group root
    oneshot
## {CL2} -

## {CL2} +
service usb_config /system/bin/usb_config
    class late_start
    user root
    group root
    oneshot
## {CL2} -